.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .link {
    border-color: #f1c40f;
    color: #fff;
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
  }
  
  .link:hover {
    background-position: 0;
  }
  
  .link {
    box-sizing: border-box;
    appearance: none;
    background-color: white;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  
  .link:hover {
    color: #fff;
    outline: 0;
  }
  